.todoItem {
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(212, 202, 202);
  position: relative;
}

.todoItem label {
  flex-basis: 100px;
  text-align: left;
}

.todoItem input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid blue;
  border-radius: 4px;
  outline: none;
  vertical-align: middle;
  margin-right: 10px;
}

.todoItem span {
  flex-basis: 30%;
  text-align: left;
}

.todoItem input[type='checkbox']:checked {
  background-color: blue;
}

.todoItem input[type='checkbox']:focus,
.todoItem input[type='checkbox']:hover {
  box-shadow: 0 0 0 3px rgb(121, 109, 231);
  cursor: pointer;
}

.todoItem button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
}
