.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.input {
  border: 1px solid black;
  border-radius: 5px;
  flex-basis: 80%;
  background-color: transparent;
  outline: none;
  padding: 10px;
  padding-left: 15px;
}

.form-button {
  background-color: rgb(38, 0, 255);
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  cursor: pointer;
  flex-basis: 15%;
}

.form-button:hover {
  opacity: 0.9;
}

.form-button:active {
  transform: translateY(2px);
}
